body{
	background-image: linear-gradient(
    to bottom, transparent, grey
  ) ,url("https://www.teahub.io/photos/full/1-16230_dark-grey-wallpaper-22-imagenes-de-fondo-gris.jpg");
	 background-repeat: no-repeat;
	 background-size: cover;
}

h1{
	color: aliceblue;
}

h2{
	color: aliceblue;
}

.container{
	width: 650px;
	margin-top: 70px;
	padding-top: 0px;
	
}

ul{
	padding:50px;
}

footer{
	color: aliceblue;
}